.cart-drawer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  background: #f3f4f6;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: right 0.8s ease;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-drawer.open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.2rem;
  font-weight: 300;
  transition: color 0.2s;
  
}

.close-button:hover {
  color: #e53e3e; /* Crvena na hover */
}

.cart-items {
  flex: 1;
  margin-top: 20px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.item-total {
  font-weight: bold;
}

.empty {
  color: #666;
  text-align: center;
}

.cart-footer {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-button {
  background: linear-gradient(to right, #60a5fa, #3b82f6);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.minusplus {
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #edf2f7;
  border-radius: 6px;
  color: #4a5568;
  font-weight: bold;
  user-select: none;
  transition: all 0.2s;
}

.minusplus:hover {
  background-color: #cbd5e0;
  color: #1a202c;
}
